body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:65px;
  top:120px;
  width:321px;
  height:17px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:17px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:137px;
  width:322px;
  height:464px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  overflow:hidden;
  touch-action:pan-y;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:463px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
}
#u7 {
  position:absolute;
  left:2px;
  top:224px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:130px;
  top:436px;
  width:10px;
  height:10px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:164px;
  top:436px;
  width:10px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:148px;
  top:436px;
  width:10px;
  height:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  overflow:hidden;
  touch-action:pan-y;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:463px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
}
#u16 {
  position:absolute;
  left:2px;
  top:224px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:130px;
  top:436px;
  width:10px;
  height:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:164px;
  top:436px;
  width:10px;
  height:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:148px;
  top:436px;
  width:10px;
  height:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  overflow:hidden;
  touch-action:pan-y;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:463px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:464px;
}
#u25 {
  position:absolute;
  left:2px;
  top:224px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:130px;
  top:436px;
  width:10px;
  height:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:164px;
  top:436px;
  width:10px;
  height:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:148px;
  top:436px;
  width:10px;
  height:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:101px;
  top:387px;
  width:110px;
  height:31px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
